/*INICIO PHONE*/
@media screen and (min-width: 320px) {
    
/*MENU DE INICIO PHONE*/
    .celu{
        display: flex;
        list-style: none;
        background: rgba(0, 38, 255, 0);
        margin: 0 auto;
        
        
        
    }
    
    .celu li a{
        text-decoration: none;
        display:flex;
       
        color: rgb(0, 0, 0);
        padding: 5px;
        
    
            
    }
    
    .celu li {
        display: flex;
        flex-flow: row nowrap;
        align-items:flex-start;
        
        
        
    }
    
    .compu{
        display: none;
    }

    nav ul{
        display: flex;
        align-items: center;
        
    }
    
    .fontface  {
        font-family: "Titillium Web", Helvetica, sans-serif;
        font-size:100%;
        
    }
    
    #invi{
        transition:background 2s;
        transition: color ;
    }
    #invi :hover{
        background: rgba(255, 255, 255, 0);
        color: aliceblue;
    }
    
    
    header {
        grid-area: header;
        background: linear-gradient(90deg,#ff0000 0%,#d85a69 100%);
        
               
    }


    /*INICIO TICKETS PHONE */
  .container {  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto 1fr;
  
  gap: 0px 0px;
  grid-auto-flow: row;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "LINEA1 LINEA1-2 LINEA1-3"
    "LINEA2 LINEA2 LINEA2"
    ;
}

.LINEA1 { grid-area: LINEA1; }

.LINEA1-2 { grid-area: LINEA1-2; }

.LINEA1-3 { grid-area: LINEA1-3;  }

.LINEA2 { grid-area: LINEA2;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    ;
}

    
      
    
    .bordes{
 
        margin: 5px;
        padding: 0px;
        border: solid 2px red;
        border-radius: 10%;
        background-color:  rgb(241, 239, 239);   
        font-family: "Titillium Web", Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        color: black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
       
    
    .bordes li{
        list-style: none;  
        display: flex;
        flex-direction: column;
        align-items: stretch; 
    
    }

    .bordetest{
       
        margin: 4px;
        padding: 0px;
           border: solid 2px red;
           border-radius: 10%;
           background-color: rgb(241, 239, 239);   
           font-family: "Titillium Web", Helvetica, sans-serif;
           font-weight: bold;
           text-align: center;
           color: rgb(255, 255, 255);
           overflow: hidden;
           
                
                 
       }
                
             
       .bordetest li{
        list-style: none;   
        display: flex;
        flex-direction: column;
        
        
                             
       } 

       .botonTickets{
        width: 100%;
        height: 32px;
        color: rgb(0, 0, 0);
        border: 0;
        outline-offset: -2px;
        background: linear-gradient(90deg,#ffffff 0%,#ff0000 100%);
        font-family: "Titillium Web", Helvetica, sans-serif;
        font-weight: bold;
        font-size:100%;
       
        
    }
   






}

/*INICIO DESKTOP*/

@media screen and (min-width: 1200px) {
    
 /*MENU DE INICIO DESKTOP*/
    .compu{
        display:flex;
        list-style: none;
        background: rgba(0, 38, 255, 0);
        margin: 0 auto;
        
        
        
    }
    
    .compu li a{
        text-decoration: none;
        display:flex;
       
        color: rgb(0, 0, 0);
        padding: 20px;
        
    
            
    }
    
    .compu li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        display: inline-block;
        
        
    }
    .celu{
        display: none;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    
    .fontface  {
        font-family: "Titillium Web", Helvetica, sans-serif;
        font-size:150%;
        
    }
    
    #invi{
        transition:background 2s;
        transition: color ;
    }
    #invi :hover{
        background: rgba(255, 255, 255, 0);
        color: aliceblue;
    }
    
    
    header {
        grid-area: header;
        background: linear-gradient(90deg,#e20000 0%,#d85a69 100%);
        
               
    }

    /*INICIO TICKETS DESKTOP*/
    .container {  display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows: auto auto;
        
        gap: 0px 0px;
        grid-auto-flow: row;
        align-content: stretch;
        justify-items: stretch;
        align-items: stretch;
        grid-template-areas:
          "LINEA1 LINEA1-2 LINEA1-3"
          "LINEA2 LINEA2 LINEA2"
          ;
      }
      
      .LINEA1 { grid-area: LINEA1; }
      
      .LINEA1-2 { grid-area: LINEA1-2; }
      
      .LINEA1-3 { grid-area: LINEA1-3;}
      
      .LINEA2 { grid-area: LINEA2;
     overflow: hidden;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: flex-start
     ;

     }
      
          
            
          
    .bordes{
       
     margin: 5px;
     padding: 0px;
        border: solid 2px red;
        border-radius: 10%;
        background-color:  rgb(241, 239, 239);;   
        font-family: "Titillium Web", Helvetica, sans-serif;
        font-weight: bold;
        text-align: center;
        color: black;
        overflow: hidden;
             
              
    }
             
          
    .bordes li{
     list-style: none;   
     display: flex;
     flex-direction: column;
     
                          
    } 

    .bordetest{
       
        margin: 4px;
        padding: 0px;
           border: solid 2px red;
           border-radius: 10%;
           background-color:  rgb(241, 239, 239);;   
           font-family: "Titillium Web", Helvetica, sans-serif;
           font-weight: bold;
           text-align: center;
           color: black;
           overflow: hidden;
                
                 
       }
                
             
       .bordetest li{
        list-style: none;   
        display: flex;
        flex-direction: column;
        
                             
       } 

    .botonTickets{
        width: 100%;
        height: 32px;
        color: rgba(255, 255, 255, 0);
        border: 0;
        outline-offset: -2px;
        background:rgba(255, 0, 0, 0);
        font-family: "Titillium Web", Helvetica, sans-serif;
        font-weight: bold;
        font-size:100%;
       
        
    }
    .RedBoton{
       
            transition:background 2s;
            transition: color 2s;
        }
    
    .RedBoton :hover{
                color: rgb(0, 0, 0);
            background: linear-gradient(90deg,#ffffff 0%,#ff0000 100%);
    }



    

   
 }